
MakingWavesCodeTest/.vs/MakingWavesCodeTest/v16/Server/sqlite3/db.lock
MakingWavesCodeTest/.vs/MakingWavesCodeTest/v16/Server/sqlite3/storage.ide
MakingWavesCodeTest/.vs/MakingWavesCodeTest/v16/Server/sqlite3/storage.ide-wal
